In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('./nba-web-scraping-project.csv')
df

,#,PLAYER,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF,YEAR
0,2023-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Joel Embiid,PHI,12.0,34.3,31.9,10.7,21.1,50.6,1.1,...,88.4,3.3,7.8,11.1,6.0,1.0,1.6,3.8,36.2,2023-24
2,2,Luka Doncic,DAL,13.0,34.8,31.0,10.7,21.0,50.9,4.2,...,74.0,0.7,7.2,7.8,8.2,1.0,0.4,4.3,31.8,2023-24
3,3,Kevin Durant,PHX,12.0,36.3,30.8,10.6,20.0,52.9,2.2,...,86.4,0.4,6.8,7.2,5.1,0.8,1.1,3.7,30.6,2023-24
4,4,Stephen Curry,GSW,12.0,33.2,30.3,9.4,19.7,47.9,5.6,...,93.3,0.8,4.0,4.8,3.8,0.9,0.2,3.6,25.8,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,99,Patty Mills,BKN,81.0,29.0,11.4,4.0,9.8,40.8,2.8,...,81.4,0.2,1.7,1.9,2.3,0.6,0.2,0.9,9.6,2021-22
409,100,Immanuel Quickley,NYK,78.0,23.1,11.3,3.6,9.3,39.2,1.8,...,88.1,0.4,2.8,3.2,3.5,0.7,0.0,1.3,11.5,2021-22
410,101,Gary Harris,ORL,61.0,28.4,11.1,3.9,9.1,43.4,1.9,...,87.4,0.6,1.4,2.0,1.8,1.0,0.1,1.0,9.7,2021-22
411,102,Grayson Allen,MIL,66.0,27.3,11.1,3.9,8.6,44.8,2.4,...,86.5,0.5,2.9,3.4,1.5,0.7,0.3,0.7,11.4,2021-22
412,103,Clint Capela,ATL,74.0,27.6,11.1,5.0,8.2,61.3,0.0,...,47.3,3.8,8.1,11.9,1.2,0.7,1.3,0.6,21.2,2021-22

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #       413 non-null    object
 1   PLAYER  410 non-null    object
 2   TEAM    410 non-null    object
 3   GP      410 non-null    float64
 4   MIN     410 non-null    float64
 5   PTS     410 non-null    float64
 6   FGM     410 non-null    float64
 7   FGA     410 non-null    float64
 8   FG%     410 non-null    float64
 9   3PM     410 non-null    float64
 10  3PA     410 non-null    float64
 11  3P%     410 non-null    float64
 12  FTM     410 non-null    float64
 13  FTA     410 non-null    float64
 14  FT%     410 non-null    float64
 15  OREB    410 non-null    float64
 16  DREB    410 non-null    float64
 17  REB     410 non-null    float64
 18  AST     410 non-null    float64
 19  STL     410 non-null    float64
 20  BLK     410 non-null    float64
 21  TOV     410 non-null    float64
 22  EFF     410 non-null    float64
 23  YEAR    410 non-null    object
dtypes: float64(20), object(4)
memory usage: 77.6+ KB

In [53]:
# Drop rows that have 'NaN' values and '#' column
df = df.dropna()
df = df.drop('#', axis=1)

In [60]:
# Create a rearranged list 
arrange_columns = ['PLAYER', 'YEAR','TEAM', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA',
       '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TOV', 'EFF']

# Set dataframe to new columns
df = df[arrange_columns]

df.head()

,PLAYER,YEAR,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
1,Joel Embiid,2023-24,PHI,12.0,34.3,31.9,10.7,21.1,50.6,1.1,...,10.8,88.4,3.3,7.8,11.1,6.0,1.0,1.6,3.8,36.2
2,Luka Doncic,2023-24,DAL,13.0,34.8,31.0,10.7,21.0,50.9,4.2,...,7.4,74.0,0.7,7.2,7.8,8.2,1.0,0.4,4.3,31.8
3,Kevin Durant,2023-24,PHX,12.0,36.3,30.8,10.6,20.0,52.9,2.2,...,8.6,86.4,0.4,6.8,7.2,5.1,0.8,1.1,3.7,30.6
4,Stephen Curry,2023-24,GSW,12.0,33.2,30.3,9.4,19.7,47.9,5.6,...,6.3,93.3,0.8,4.0,4.8,3.8,0.9,0.2,3.6,25.8
5,Shai Gilgeous-Alexander,2023-24,OKC,12.0,34.9,29.8,11.3,21.5,52.3,1.4,...,6.3,92.1,0.8,5.8,6.5,6.0,2.6,0.8,2.3,32.6