In [70]:
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")

# URL of the webpage containing the dropdown menu
url = "https://www.nba.com/stats/teams/traditional?dir=A&sort=W_PCT"
driver.get(url)

In [71]:
# Introduce a wait to allow the page to load
time.sleep(5)

years = driver.find_elements_by_class_name("DropDown_select__4pIg9")[0].text.split('\n')
table_data = []

# Season 2023-24
year = years[0]

# Find the table on the page
table = WebDriverWait(driver, 10).until(
EC.presence_of_element_located((By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table'))
)

# Store the table data in a variable for looping
tbody = table.find_element(By.TAG_NAME, 'tbody')
rows = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
)

# table_data = []
for row in rows:
    try:
        row_cells = row.find_elements(By.TAG_NAME, 'td')
        # Check if the row contains cells (data) before processing
        if row_cells:
            row_text = [cell.text for cell in row_cells]
            row_text.append(year)
            table_data.append(row_text) 
            print(f"Adding data for team rank {row_text[0]} {row_text[1]} for the {year} season")
    except:
        # Handle StaleElementReferenceException by refinding the row
        rows = WebDriverWait(driver, 10).until(
            EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
        )
        
# Get table headers
headers = table.find_element_by_xpath('//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/thead').text.split(' ')
headers.append('YEAR')

# Close the browser window
driver.quit()

Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank 1 Boston Celtics for the 2023-24 season
Adding data for team rank 1 Minnesota Timberwolves for the 2023-24 season
Adding data for team rank 3 Milwaukee Bucks for the 2023-24 season
Adding data for team rank 4 Philadelphia 76ers for the 2023-24 season
Adding data for team rank 5 Oklahoma City Thunder for the 2023-24 season
Adding data for team rank 6 Denver Nuggets for the 2023-24 season
Adding data for team rank 7 Sacramento Kings for the 2023-24 season
Adding data for team rank 8 LA Clippers for the 2023-24 season
Adding data for team rank 9 Dallas Mavericks for the 2023-24 season
Adding data for team rank 9 New York Knicks for the 2023-24 season
Adding data for team rank 9 Orlando Magic for the 2023-24 season
Adding data for team rank 12 New Orleans Pelicans for the 2023-24 season
Adding data for team rank 13 Miami Heat for the 2023-24 season
Adding data for team rank 14 Cleveland Cavaliers for the 2023-24 season
Adding data for team rank 15 Houston Rockets for the 2023-24 season
Adding data for team rank 16 Indiana Pacers for the 2023-24 season
Adding data for team rank 16 Phoenix Suns for the 2023-24 season
Adding data for team rank 18 Los Angeles Lakers for the 2023-24 season
Adding data for team rank 19 Brooklyn Nets for the 2023-24 season
Adding data for team rank 19 Golden State Warriors for the 2023-24 season
Adding data for team rank 21 Atlanta Hawks for the 2023-24 season
Adding data for team rank 22 Chicago Bulls for the 2023-24 season
Adding data for team rank 23 Toronto Raptors for the 2023-24 season
Adding data for team rank 24 Utah Jazz for the 2023-24 season
Adding data for team rank 25 Memphis Grizzlies for the 2023-24 season
Adding data for team rank 26 Charlotte Hornets for the 2023-24 season
Adding data for team rank 27 Portland Trail Blazers for the 2023-24 season
Adding data for team rank 28 Washington Wizards for the 2023-24 season
Adding data for team rank 29 San Antonio Spurs for the 2023-24 season
Adding data for team rank 30 Detroit Pistons for the 2023-24 season

In [72]:
# Filter out table
table_data = table_data[12:]

In [73]:
# Remove empty column
headers.pop(0)

''

In [74]:
import pandas as pd

# Getting the headers from the data array
# It is important to remove them from the data array afterwards in order to be parsed correctly by Pandas
team_stats = pd.DataFrame(table_data, columns=headers)
team_stats

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Boston Celtics,27,21,6,.778,48.6,118.9,43.0,89.9,...,46.9,25.2,13.4,6.8,6.3,3.9,17.5,18.3,9.1,2023-24
1,1,Minnesota Timberwolves,27,21,6,.778,48.2,113.7,41.4,85.4,...,45.0,26.0,15.1,7.5,6.2,4.8,19.4,20.5,6.8,2023-24
2,3,Milwaukee Bucks,28,21,7,.750,48.4,124.4,44.6,89.5,...,44.4,25.8,13.6,7.0,5.6,4.4,20.1,21.0,5.4,2023-24
3,4,Philadelphia 76ers,27,19,8,.704,48.2,122.3,43.2,89.3,...,45.4,25.8,13.0,9.0,6.0,5.8,20.5,20.1,11.4,2023-24
4,5,Oklahoma City Thunder,26,18,8,.692,48.4,120.7,43.9,89.3,...,41.4,25.8,12.9,8.6,6.4,5.0,19.9,20.2,7.7,2023-24
5,6,Denver Nuggets,29,19,10,.655,48.0,115.2,44.3,90.4,...,44.7,29.6,12.1,7.1,5.1,5.0,18.9,19.0,4.9,2023-24
6,7,Sacramento Kings,26,16,10,.615,48.4,118.2,42.7,90.5,...,43.5,28.5,13.4,7.1,4.0,4.8,20.7,19.7,0.0,2023-24
7,8,LA Clippers,28,17,11,.607,48.2,117.0,42.7,87.9,...,44.0,25.4,13.3,8.4,5.4,4.7,20.2,20.3,5.5,2023-24
8,9,Dallas Mavericks,27,16,11,.593,48.0,119.0,42.9,91.0,...,42.0,25.4,11.9,6.3,4.3,4.0,18.3,21.6,1.3,2023-24
9,9,New York Knicks,27,16,11,.593,48.0,114.7,41.4,89.6,...,45.8,23.8,13.0,7.6,3.4,5.2,17.9,20.9,3.3,2023-24
10,9,Orlando Magic,27,16,11,.593,48.0,113.0,41.2,87.1,...,43.8,25.2,14.7,8.3,5.5,5.1,21.7,22.8,2.6,2023-24
11,12,New Orleans Pelicans,29,17,12,.586,48.0,116.1,42.4,88.0,...,44.3,26.6,13.4,8.1,4.3,5.1,19.9,20.3,2.6,2023-24
12,13,Miami Heat,28,16,12,.571,48.0,112.9,40.4,85.4,...,40.6,26.4,13.1,7.6,3.1,5.1,18.6,20.2,1.1,2023-24
13,14,Cleveland Cavaliers,29,16,13,.552,48.3,112.1,41.9,88.3,...,43.8,25.9,14.2,7.8,4.6,5.3,19.4,19.5,-0.3,2023-24
14,15,Houston Rockets,25,13,12,.520,48.4,111.4,40.4,87.7,...,45.2,25.6,13.0,6.4,4.5,5.0,22.3,20.2,3.0,2023-24
15,16,Indiana Pacers,27,14,13,.519,48.0,127.1,47.7,94.3,...,40.0,30.7,13.3,7.9,6.5,5.9,22.2,18.8,1.0,2023-24
16,16,Phoenix Suns,27,14,13,.519,48.6,114.9,40.6,85.9,...,44.1,26.2,14.9,7.0,6.6,5.1,19.0,22.1,1.0,2023-24
17,18,Los Angeles Lakers,29,15,14,.517,48.3,113.5,42.1,87.0,...,44.1,26.9,14.3,7.6,5.6,4.7,17.1,20.4,-0.5,2023-24
18,19,Brooklyn Nets,27,13,14,.481,48.2,115.6,42.7,91.9,...,47.1,26.0,13.2,6.1,5.9,4.7,18.6,18.1,0.3,2023-24
19,19,Golden State Warriors,27,13,14,.481,48.6,116.5,41.3,90.6,...,47.3,27.7,15.4,7.0,3.4,4.6,21.7,20.3,0.4,2023-24
20,21,Atlanta Hawks,27,12,15,.444,48.2,123.1,44.3,93.5,...,44.2,25.7,13.7,8.2,4.6,5.8,19.0,20.3,0.3,2023-24
21,22,Chicago Bulls,30,13,17,.433,48.7,110.5,41.0,90.0,...,42.8,23.7,12.0,8.1,4.8,5.0,19.7,18.7,-2.0,2023-24
22,23,Toronto Raptors,27,11,16,.407,48.4,112.2,42.5,90.1,...,45.1,28.9,14.2,7.4,4.7,5.4,18.3,18.5,-1.9,2023-24
23,24,Utah Jazz,29,11,18,.379,48.5,112.6,41.0,90.4,...,46.1,26.7,16.9,7.0,6.0,6.3,19.7,19.2,-6.8,2023-24
24,25,Memphis Grizzlies,27,8,19,.296,48.2,106.4,39.0,89.2,...,42.0,23.8,15.1,7.5,6.3,6.9,21.1,19.3,-5.7,2023-24
25,26,Charlotte Hornets,26,7,19,.269,48.2,111.0,42.1,89.6,...,41.4,24.9,13.9,6.9,4.6,4.8,20.0,18.7,-10.6,2023-24
26,27,Portland Trail Blazers,27,7,20,.259,48.6,108.0,39.6,90.5,...,41.4,22.3,15.4,8.7,4.4,6.4,20.7,18.7,-6.3,2023-24
27,28,Washington Wizards,27,5,22,.185,48.0,117.0,43.7,90.3,...,39.2,27.7,14.0,7.6,5.1,5.5,19.9,19.4,-9.5,2023-24
28,29,San Antonio Spurs,27,4,23,.148,48.4,110.3,41.4,91.2,...,43.4,28.7,16.0,6.7,5.9,3.9,19.1,18.4,-11.9,2023-24
29,30,Detroit Pistons,28,2,26,.071,48.0,109.0,41.1,88.4,...,43.2,25.5,16.6,6.3,5.4,6.4,22.8,18.4,-11.8,2023-24

In [75]:
team_stats.loc[team_stats['TEAM'] == 'Washington Wizards']

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
27,28,Washington Wizards,27,5,22,.185,48.0,117.0,43.7,90.3,...,39.2,27.7,14.0,7.6,5.1,5.5,19.9,19.4,-9.5,2023-24

# Cleaning

In [76]:
# Check data types
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           30 non-null     object
 1   TEAM    30 non-null     object
 2   GP      30 non-null     object
 3   W       30 non-null     object
 4   L       30 non-null     object
 5   WIN%    30 non-null     object
 6   MIN     30 non-null     object
 7   PTS     30 non-null     object
 8   FGM     30 non-null     object
 9   FGA     30 non-null     object
 10  FG%     30 non-null     object
 11  3PM     30 non-null     object
 12  3PA     30 non-null     object
 13  3P%     30 non-null     object
 14  FTM     30 non-null     object
 15  FTA     30 non-null     object
 16  FT%     30 non-null     object
 17  OREB    30 non-null     object
 18  DREB    30 non-null     object
 19  REB     30 non-null     object
 20  AST     30 non-null     object
 21  TOV     30 non-null     object
 22  STL     30 non-null     object
 23  BLK     30 non-null     object
 24  BLKA    30 non-null     object
 25  PF      30 non-null     object
 26  PFD     30 non-null     object
 27  +/-     30 non-null     object
 28  YEAR    30 non-null     object
dtypes: object(29)
memory usage: 6.9+ KB

In [77]:
team_stats.columns

Index(['', 'TEAM', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-', 'YEAR'],
      dtype='object')

In [78]:
# Rename empty column name to 'Rank'
team_stats = team_stats.rename(columns={"": "RANK"})
team_stats.head()

,RANK,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Boston Celtics,27,21,6,.778,48.6,118.9,43.0,89.9,...,46.9,25.2,13.4,6.8,6.3,3.9,17.5,18.3,9.1,2023-24
1,1,Minnesota Timberwolves,27,21,6,.778,48.2,113.7,41.4,85.4,...,45.0,26.0,15.1,7.5,6.2,4.8,19.4,20.5,6.8,2023-24
2,3,Milwaukee Bucks,28,21,7,.750,48.4,124.4,44.6,89.5,...,44.4,25.8,13.6,7.0,5.6,4.4,20.1,21.0,5.4,2023-24
3,4,Philadelphia 76ers,27,19,8,.704,48.2,122.3,43.2,89.3,...,45.4,25.8,13.0,9.0,6.0,5.8,20.5,20.1,11.4,2023-24
4,5,Oklahoma City Thunder,26,18,8,.692,48.4,120.7,43.9,89.3,...,41.4,25.8,12.9,8.6,6.4,5.0,19.9,20.2,7.7,2023-24

In [79]:
# Convert following columns to floats
string_columns = ['RANK', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-']
team_stats[string_columns] = team_stats[string_columns].apply(pd.to_numeric, errors='coerce')

team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    30 non-null     int64
 1   TEAM    30 non-null     object
 2   GP      30 non-null     int64
 3   W       30 non-null     int64
 4   L       30 non-null     int64
 5   WIN%    30 non-null     float64
 6   MIN     30 non-null     float64
 7   PTS     30 non-null     float64
 8   FGM     30 non-null     float64
 9   FGA     30 non-null     float64
 10  FG%     30 non-null     float64
 11  3PM     30 non-null     float64
 12  3PA     30 non-null     float64
 13  3P%     30 non-null     float64
 14  FTM     30 non-null     float64
 15  FTA     30 non-null     float64
 16  FT%     30 non-null     float64
 17  OREB    30 non-null     float64
 18  DREB    30 non-null     float64
 19  REB     30 non-null     float64
 20  AST     30 non-null     float64
 21  TOV     30 non-null     float64
 22  STL     30 non-null     float64
 23  BLK     30 non-null     float64
 24  BLKA    30 non-null     float64
 25  PF      30 non-null     float64
 26  PFD     30 non-null     float64
 27  +/-     30 non-null     float64
 28  YEAR    30 non-null     object
dtypes: float64(23), int64(4), object(2)
memory usage: 6.9+ KB

In [80]:
team_stats['TEAM'].dropna()

0             Boston Celtics
1     Minnesota Timberwolves
2            Milwaukee Bucks
3         Philadelphia 76ers
4      Oklahoma City Thunder
5             Denver Nuggets
6           Sacramento Kings
7                LA Clippers
8           Dallas Mavericks
9            New York Knicks
10             Orlando Magic
11      New Orleans Pelicans
12                Miami Heat
13       Cleveland Cavaliers
14           Houston Rockets
15            Indiana Pacers
16              Phoenix Suns
17        Los Angeles Lakers
18             Brooklyn Nets
19     Golden State Warriors
20             Atlanta Hawks
21             Chicago Bulls
22           Toronto Raptors
23                 Utah Jazz
24         Memphis Grizzlies
25         Charlotte Hornets
26    Portland Trail Blazers
27        Washington Wizards
28         San Antonio Spurs
29           Detroit Pistons
Name: TEAM, dtype: object

In [81]:
# Add short form team name
team_short_forms = {
    'Boston Celtics': 'BOS', 
    'Minnesota Timberwolves': 'MIN', 
    'Orlando Magic': 'ORL', 
    'Denver Nuggets': 'DEN', 
    'Milwaukee Bucks': 'MIL', 
    'Oklahoma City Thunder': 'OKC', 
    'New York Knicks': 'NYK',
    'Philadelphia 76ers': 'PHI',
    'Dallas Mavericks': 'DAL',
    'Sacramento Kings': 'SAC',
    'Miami Heat': 'MIA',
    'Phoenix Suns': 'PHX',
    'Los Angeles Lakers': 'LAL',
    'New Orleans Pelicans': 'NOP', 
    'Indiana Pacers': 'IND',
    'Cleveland Cavaliers': 'CLE',
    'Atlanta Hawks': 'ATL',
    'Brooklyn Nets': 'BKN', 
    'Houston Rockets': 'HOU', 
    'LA Clippers': 'LAC', 
    'Golden State Warriors': 'GSW', 
    'Toronto Raptors': 'TOR',
    'Charlotte Hornets': 'CHA',
    'Portland Trail Blazers': 'POR' ,
    'Utah Jazz': 'UTA', 
    'Chicago Bulls': 'CHI',
    'Memphis Grizzlies': 'MEM',
    'San Antonio Spurs': 'SAS',
    'Washington Wizards': 'WAS',
    'Detroit Pistons': 'DET',
    
}
team_stats['TEAM'] = team_stats['TEAM'].map(team_short_forms)

In [82]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    30 non-null     int64
 1   TEAM    30 non-null     object
 2   GP      30 non-null     int64
 3   W       30 non-null     int64
 4   L       30 non-null     int64
 5   WIN%    30 non-null     float64
 6   MIN     30 non-null     float64
 7   PTS     30 non-null     float64
 8   FGM     30 non-null     float64
 9   FGA     30 non-null     float64
 10  FG%     30 non-null     float64
 11  3PM     30 non-null     float64
 12  3PA     30 non-null     float64
 13  3P%     30 non-null     float64
 14  FTM     30 non-null     float64
 15  FTA     30 non-null     float64
 16  FT%     30 non-null     float64
 17  OREB    30 non-null     float64
 18  DREB    30 non-null     float64
 19  REB     30 non-null     float64
 20  AST     30 non-null     float64
 21  TOV     30 non-null     float64
 22  STL     30 non-null     float64
 23  BLK     30 non-null     float64
 24  BLKA    30 non-null     float64
 25  PF      30 non-null     float64
 26  PFD     30 non-null     float64
 27  +/-     30 non-null     float64
 28  YEAR    30 non-null     object
dtypes: float64(23), int64(4), object(2)
memory usage: 6.9+ KB

In [83]:
file_path = 'team_stats.csv'
team_stats.to_csv(file_path, index=False)