In [487]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException


# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")


# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
driver.get(url)

# Player Ratings

In [492]:
# Have the table only show accurate data
hide_partial_row_button = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="per_game_stats_toggle_partial_table"]'))
)
hide_partial_row_button.click()
print('Hide rows with partial data')

Hide rows with partial data

In [493]:
# Get table with data
table = driver.find_element(By.XPATH,'//*[@id="per_game_stats"]')

# Get table header
headers = table.find_element(By.XPATH, '//*[@id="per_game_stats"]/thead').text.split(' ')

# Get table data
data = [row.text.split(' ') for row in table.find_elements(By.TAG_NAME, 'tr')][1:]

In [494]:
# Remove 'Player' column from list
headers.pop(1)

# Add 'First Name' to list
headers.insert(1, 'First Name')

# Add 'Last Name' to list
headers.insert(2, 'Last Name')

In [495]:
# Create a pandas Data Frame
player_df = pd.DataFrame(data=data)

# Drop last column
player_df = player_df.drop(player_df.columns[31],axis=1)

# Add headers
player_df.columns = headers

In [496]:
player_df.head()

,Rk,First Name,Last Name,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious,Achiuwa,C-PF,24,TOT,27,0,16.9,3.0,...,.571,2.0,3.3,5.3,1.7,0.6,0.5,1.1,1.6,7.3
1,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2,Bam,Adebayo,C,26,MIA,24,24,34.3,7.8,...,.778,2.2,8.1,10.3,4.0,1.2,1.0,2.6,2.5,21.7
4,3,Ochai,Agbaji,SG,23,UTA,35,10,20.8,2.5,...,.714,0.8,1.7,2.5,1.0,0.7,0.5,0.7,1.5,6.5

In [497]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          567 non-null    object
 1   First Name  545 non-null    object
 2   Last Name   545 non-null    object
 3   Pos         545 non-null    object
 4   Age         545 non-null    object
 5   Tm          545 non-null    object
 6   G           545 non-null    object
 7   GS          545 non-null    object
 8   MP          545 non-null    object
 9   FG          545 non-null    object
 10  FGA         545 non-null    object
 11  FG%         545 non-null    object
 12  3P          545 non-null    object
 13  3PA         545 non-null    object
 14  3P%         545 non-null    object
 15  2P          545 non-null    object
 16  2PA         545 non-null    object
 17  2P%         545 non-null    object
 18  eFG%        545 non-null    object
 19  FT          545 non-null    object
 20  FTA         545 non-null    object
 21  FT%         545 non-null    object
 22  ORB         545 non-null    object
 23  DRB         545 non-null    object
 24  TRB         545 non-null    object
 25  AST         545 non-null    object
 26  STL         540 non-null    object
 27  BLK         539 non-null    object
 28  TOV         539 non-null    object
 29  PF          523 non-null    object
 30  PTS         438 non-null    object
dtypes: object(31)
memory usage: 137.4+ KB

In [498]:
# Remove rows with any null values'
player_df = player_df.dropna(axis=0, how='any')

In [499]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 0 to 565
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          438 non-null    object
 1   First Name  438 non-null    object
 2   Last Name   438 non-null    object
 3   Pos         438 non-null    object
 4   Age         438 non-null    object
 5   Tm          438 non-null    object
 6   G           438 non-null    object
 7   GS          438 non-null    object
 8   MP          438 non-null    object
 9   FG          438 non-null    object
 10  FGA         438 non-null    object
 11  FG%         438 non-null    object
 12  3P          438 non-null    object
 13  3PA         438 non-null    object
 14  3P%         438 non-null    object
 15  2P          438 non-null    object
 16  2PA         438 non-null    object
 17  2P%         438 non-null    object
 18  eFG%        438 non-null    object
 19  FT          438 non-null    object
 20  FTA         438 non-null    object
 21  FT%         438 non-null    object
 22  ORB         438 non-null    object
 23  DRB         438 non-null    object
 24  TRB         438 non-null    object
 25  AST         438 non-null    object
 26  STL         438 non-null    object
 27  BLK         438 non-null    object
 28  TOV         438 non-null    object
 29  PF          438 non-null    object
 30  PTS         438 non-null    object
dtypes: object(31)
memory usage: 109.5+ KB

In [500]:
# Convert columns with data type object to float
player_df = player_df.apply(pd.to_numeric, errors='ignore', downcast='float')
player_df.dtypes

Rk            float32
First Name     object
Last Name      object
Pos            object
Age            object
Tm             object
G              object
GS            float32
MP            float32
FG            float32
FGA           float32
FG%           float32
3P            float32
3PA           float32
3P%           float32
2P            float32
2PA           float32
2P%           float32
eFG%          float32
FT            float32
FTA           float32
FT%           float32
ORB           float32
DRB           float32
TRB           float32
AST           float32
STL           float32
BLK           float32
TOV           float32
PF            float32
PTS           float32
dtype: object

In [501]:
player_df.head()

,Rk,First Name,Last Name,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Precious,Achiuwa,C-PF,24,TOT,27,0.0,16.900000,3.0,...,0.571,2.0,3.3,5.3,1.7,0.6,0.5,1.1,1.6,7.300000
3,2.0,Bam,Adebayo,C,26,MIA,24,24.0,34.299999,7.8,...,0.778,2.2,8.1,10.3,4.0,1.2,1.0,2.6,2.5,21.700001
4,3.0,Ochai,Agbaji,SG,23,UTA,35,10.0,20.799999,2.5,...,0.714,0.8,1.7,2.5,1.0,0.7,0.5,0.7,1.5,6.500000
5,4.0,Santi,Aldama,PF,23,MEM,27,5.0,24.000000,4.1,...,0.605,1.3,4.3,5.7,1.8,0.6,0.7,1.0,1.6,10.900000
6,5.0,Nickeil,Alexander-Walker,SG,25,MIN,33,11.0,22.500000,2.4,...,0.684,0.4,1.3,1.7,2.4,0.9,0.6,1.0,1.9,6.500000

# Team Ratings

In [1]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException


# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")


# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_ratings.html"
driver.get(url)

In [236]:
# Extract table
table = WebDriverWait(driver, 5).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="ratings"]'))
)

# Get headers used in table
thead = table.find_element(By.TAG_NAME, 'thead')
headers = [header.text.split() for header in thead.find_elements(By.TAG_NAME,'tr')][1]


# Get data from table
tbody = table.find_element(By.XPATH, '//*[@id="ratings"]/tbody')
rows = [row.text.split() for row in tbody.find_elements(By.TAG_NAME, 'tr')]

In [241]:
# Extract the team names from table
team_name = []

for i in range(len(rows)):
    row = rows[i]
    if row[1:4][-1] == 'E' or row[1:4][-1] == 'W':
        row[1:4].pop(-1)
        team_name.append(row[1] + ' ' + row[2])
    elif len(row[1:4]) == 3:
        team_name.append(row[1:4][0] + ' ' + row[1:4][1] + ' ' + row[1:4][2])

In [242]:
# Filter out 'Team Conf Div' from team_names
team_name.pop(15)
team_name

['Boston Celtics',
 'Oklahoma City Thunder',
 'Philadelphia 76ers',
 'Minnesota Timberwolves',
 'Denver Nuggets',
 'Los Angeles Clippers',
 'Milwaukee Bucks',
 'New York Knicks',
 'New Orleans Pelicans',
 'Houston Rockets',
 'Indiana Pacers',
 'Orlando Magic',
 'Cleveland Cavaliers',
 'Golden State Warriors',
 'Sacramento Kings',
 'Dallas Mavericks',
 'Phoenix Suns',
 'Miami Heat',
 'Los Angeles Lakers',
 'Atlanta Hawks',
 'Toronto Raptors',
 'Brooklyn Nets',
 'Chicago Bulls',
 'Utah Jazz',
 'Memphis Grizzlies',
 'Portland Trail Blazers',
 'Detroit Pistons',
 'San Antonio Spurs',
 'Charlotte Hornets',
 'Washington Wizards']

In [243]:
team_ratings = pd.DataFrame(data=rows)
team_ratings

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,Boston,Celtics,E,A,27,7,.794,10.62,122.87,112.01,10.86,11.03,123.11,111.84,11.27,None
1,2,Oklahoma,City,Thunder,W,NW,23,11,.676,7.56,121.73,114.12,7.61,8.27,122.13,113.79,8.33
2,3,Philadelphia,76ers,E,A,23,11,.676,8.79,121.08,112.28,8.80,8.25,120.72,112.45,8.27,None
3,4,Minnesota,Timberwolves,W,NW,25,9,.735,5.65,115.61,109.89,5.73,6.34,115.71,109.29,6.43,None
4,5,Denver,Nuggets,W,NW,25,12,.676,5.11,119.87,114.56,5.31,5.33,120.44,114.93,5.51,None
5,6,Los,Angeles,Clippers,W,P,22,12,.647,5.26,120.09,114.81,5.28,4.75,119.82,115.05,4.78
6,7,Milwaukee,Bucks,E,C,25,10,.714,5.03,122.16,117.22,4.94,3.96,120.98,117.09,3.89,None
7,8,New,York,Knicks,E,A,20,15,.571,2.97,119.32,116.13,3.18,3.65,119.22,115.36,3.86
8,9,New,Orleans,Pelicans,W,SW,21,15,.583,3.36,117.02,113.61,3.42,3.02,117.48,114.42,3.06
9,10,Houston,Rockets,W,SW,17,16,.515,2.55,114.80,112.21,2.59,2.78,114.96,112.15,2.82,None
10,11,Indiana,Pacers,E,C,20,14,.588,3.24,124.33,121.11,3.22,2.77,124.34,121.58,2.76,None
11,12,Orlando,Magic,E,SE,20,15,.571,1.80,114.14,112.35,1.79,2.01,113.61,111.61,2.00,None
12,13,Cleveland,Cavaliers,E,C,20,15,.571,1.71,115.30,113.65,1.65,2.02,114.91,112.94,1.98,None
13,14,Golden,State,Warriors,W,P,17,18,.486,0.63,118.06,117.37,0.69,1.68,118.86,117.09,1.77
14,15,Sacramento,Kings,W,P,21,13,.618,0.74,117.77,117.29,0.48,1.00,118.27,117.51,0.76,None
15,Unadjusted,Adjusted,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A,None,None
17,16,Dallas,Mavericks,W,SW,21,15,.583,2.06,118.58,116.78,1.80,0.86,119.14,118.54,0.60,None
18,17,Phoenix,Suns,W,P,19,16,.543,1.77,118.67,116.81,1.85,0.07,118.50,118.38,0.13,None
19,18,Miami,Heat,E,SE,20,15,.571,0.89,116.16,115.22,0.94,0.07,115.65,115.56,0.09,None
20,19,Los,Angeles,Lakers,W,P,17,19,.472,-1.25,113.02,114.47,-1.45,-1.00,114.02,115.22,-1.19
21,20,Atlanta,Hawks,E,SE,14,20,.412,-1.38,121.10,122.45,-1.34,-1.29,121.13,122.35,-1.22,None
22,21,Toronto,Raptors,E,A,14,21,.400,-1.14,115.71,117.01,-1.31,-1.27,115.43,116.85,-1.41,None
23,22,Brooklyn,Nets,E,A,16,20,.444,-1.50,117.18,118.77,-1.59,-1.38,116.89,118.34,-1.46,None
24,23,Chicago,Bulls,E,C,16,21,.432,-2.41,113.62,116.24,-2.62,-1.86,113.37,115.44,-2.07,None
25,24,Utah,Jazz,W,NW,16,20,.444,-4.56,114.41,119.10,-4.68,-5.08,114.85,120.06,-5.22,None
26,25,Memphis,Grizzlies,W,SW,12,23,.343,-6.00,108.20,114.21,-6.01,-6.08,108.14,114.22,-6.08,None
27,26,Portland,Trail,Blazers,W,NW,9,25,.265,-7.79,109.64,117.48,-7.84,-8.62,108.85,117.56,-8.71
28,27,Detroit,Pistons,E,C,3,32,.086,-10.94,110.73,121.52,-10.79,-10.27,110.62,120.74,-10.13,None
29,28,San,Antonio,Spurs,W,SW,5,29,.147,-11.65,108.65,119.97,-11.32,-10.49,109.32,119.50,-10.19
30,29,Charlotte,Hornets,E,SE,8,25,.242,-10.61,111.43,122.30,-10.87,-10.06,111.21,121.51,-10.31,None
31,30,Washington,Wizards,E,SE,6,28,.176,-10.76,112.21,122.77,-10.56,-10.65,111.69,122.16,-10.47,None

In [157]:
# Assuming team_ratings is your existing DataFrame
team_ratings['Team'] = team_name

ValueError: Length of values (27) does not match length of index (32)