In [ ]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException


# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")


# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
driver.get(url)

In [ ]:
# Have the table only show accurate data
hide_partial_row_button = WebDriverWait(driver, 5).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="per_game_stats_toggle_partial_table"]'))
)
hide_partial_row_button.click()
print('Hide rows with partial data')

In [ ]:
# Get table with data
table = driver.find_element(By.XPATH,'//*[@id="per_game_stats"]')

# Get table header
headers = table.find_element(By.XPATH, '//*[@id="per_game_stats"]/thead').text.split(' ')

# Get table data
data = [row.text.split(' ') for row in table.find_elements(By.TAG_NAME, 'tr')][1:]

In [ ]:
# Remove 'Player' column from list
headers.pop(1)

# Add 'First Name' to list
headers.insert(1, 'First Name')

# Add 'Last Name' to list
headers.insert(2, 'Last Name')

In [ ]:
# Create a pandas Data Frame
df = pd.DataFrame(data=data)

# Drop last column
df = df.drop(df.columns[31],axis=1)

# Add headers
df.columns = headers

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# Remove rows with any null values'
df = df.dropna(axis=0, how='any')

In [323]:
df.dtypes

Rk            object
First Name    object
Last Name     object
Pos           object
Age           object
Tm            object
G             object
GS            object
MP            object
FG            object
FGA           object
FG%           object
3P            object
3PA           object
3P%           object
2P            object
2PA           object
2P%           object
eFG%          object
FT            object
FTA           object
FT%           object
ORB           object
DRB           object
TRB           object
AST           object
STL           object
BLK           object
TOV           object
PF            object
PTS           object
dtype: object

In [320]:
# Convert columns with data type object to float
columns = ['Rk','Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS']
df[columns] = pd.to_numeric(df[columns])
print(df.types)

TypeError: arg must be a list, tuple, 1-d array, or Series