In [266]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException


# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")


# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
driver.get(url)

In [268]:
# Have the table only show accurate data

hide_partial_row_button = WebDriverWait(driver, 5).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="per_game_stats_toggle_partial_table"]'))
)
hide_partial_row_button.click()

In [269]:
# Get table with data
table = driver.find_element(By.XPATH,'//*[@id="per_game_stats"]')

# Get table header
headers = table.find_element(By.XPATH, '//*[@id="per_game_stats"]/thead').text.split(' ')

# Get table data
data = [row.text.split(' ') for row in table.find_elements(By.TAG_NAME, 'tr')][1:]

In [270]:
# Remove 'Player' column from list
headers.pop(1)

# Add 'First Name' to list
headers.insert(1, 'First Name')

# Add 'Last Name' to list
headers.insert(2, 'Last Name')

In [271]:
# Create a pandas Data Frame
df = pd.DataFrame(data=data)

# Drop last column
df = df.drop(df.columns[31],axis=1)

# Add headers
df.columns = headers

In [290]:
df.head()

,Rk,First Name,Last Name,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious,Achiuwa,C-PF,24,TOT,27,0,16.9,3.0,...,.571,2.0,3.3,5.3,1.7,0.6,0.5,1.1,1.6,7.3
1,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2,Bam,Adebayo,C,26,MIA,24,24,34.3,7.8,...,.778,2.2,8.1,10.3,4.0,1.2,1.0,2.6,2.5,21.7
4,3,Ochai,Agbaji,SG,23,UTA,35,10,20.8,2.5,...,.714,0.8,1.7,2.5,1.0,0.7,0.5,0.7,1.5,6.5

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          567 non-null    object
 1   First Name  545 non-null    object
 2   Last Name   545 non-null    object
 3   Pos         545 non-null    object
 4   Age         545 non-null    object
 5   Tm          545 non-null    object
 6   G           545 non-null    object
 7   GS          545 non-null    object
 8   MP          545 non-null    object
 9   FG          545 non-null    object
 10  FGA         545 non-null    object
 11  FG%         545 non-null    object
 12  3P          545 non-null    object
 13  3PA         545 non-null    object
 14  3P%         545 non-null    object
 15  2P          545 non-null    object
 16  2PA         545 non-null    object
 17  2P%         545 non-null    object
 18  eFG%        545 non-null    object
 19  FT          545 non-null    object
 20  FTA         545 non-null    object
 21  FT%         545 non-null    object
 22  ORB         545 non-null    object
 23  DRB         545 non-null    object
 24  TRB         545 non-null    object
 25  AST         545 non-null    object
 26  STL         540 non-null    object
 27  BLK         539 non-null    object
 28  TOV         539 non-null    object
 29  PF          523 non-null    object
 30  PTS         438 non-null    object
dtypes: object(31)
memory usage: 137.4+ KB

In [291]:
df.to_numeric()

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

TypeError: '>=' not supported between instances of 'str' and 'int'