In [129]:
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")

# URL of the webpage containing the dropdown menu
url = "https://www.nba.com/stats/teams/traditional?dir=A&sort=W_PCT"
driver.get(url)

In [130]:
# Introduce a wait to allow the page to load
time.sleep(5)

years = driver.find_elements_by_class_name("DropDown_select__4pIg9")[0].text.split('\n')
table_data = []

for i in range(len(years[:4])):
    year = years[i]

    # # Season 2023-24
    # season_23_24 = years[0]

    # Find the table on the page
    table = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table'))
    )

    # Store the table data in a variable for looping
    tbody = table.find_element(By.TAG_NAME, 'tbody')
    rows = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
    )

    # table_data = []
    for row in rows:
        try:
            row_cells = row.find_elements(By.TAG_NAME, 'td')
            # Check if the row contains cells (data) before processing
            if row_cells:
                row_text = [cell.text for cell in row_cells]
                row_text.append(year)
                table_data.append(row_text) 
                print(f"Adding data for team rank {row_text[0]} {row_text[1]} for the {year} season")
        except:
            # Handle StaleElementReferenceException by refinding the row
            rows = WebDriverWait(driver, 10).until(
                EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
            )
        
# Get table headers
headers = table.find_element_by_xpath('//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/thead').text.split(' ')
headers.append('YEAR')

# Close the browser window
driver.quit()

Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank 1 Minnesota Timberwolves for the 2023-24 season
Adding data for team rank 2 Boston Celtics for the 2023-24 season
Adding data for team rank 3 Milwaukee Bucks for the 2023-24 season
Adding data for team rank 3 Orlando Magic for the 2023-24 season
Adding data for team rank 5 Oklahoma City Thunder for the 2023-24 season
Adding data for team rank 6 Denver Nuggets for the 2023-24 season
Adding data for team rank 7 New York Knicks for the 2023-24 season
Adding data for team rank 7 Philadelphia 76ers for the 2023-24 season
Adding data for team rank 9 Sacramento Kings for the 2023-24 season
Adding data for team rank 10 Phoenix Suns for the 2023-24 season
Adding data for team rank 11 Dallas Mavericks for the 2023-24 season
Adding data for team rank 11 Indiana Pacers for the 2023-24 season
Adding data for team rank 13 Los Angeles Lakers for the 2023-24 season
Adding data for team rank 14 Cleveland Cavaliers for the 2023-24 season
Adding data for team rank 14 Miami Heat for the 2023-24 season
Adding data for team rank 16 Brooklyn Nets for the 2023-24 season
Adding data for team rank 17 New Orleans Pelicans for the 2023-24 season
Adding data for team rank 18 Atlanta Hawks for the 2023-24 season
Adding data for team rank 18 LA Clippers for the 2023-24 season
Adding data for team rank 20 Houston Rockets for the 2023-24 season
Adding data for team rank 21 Golden State Warriors for the 2023-24 season
Adding data for team rank 21 Toronto Raptors for the 2023-24 season
Adding data for team rank 23 Utah Jazz for the 2023-24 season
Adding data for team rank 24 Charlotte Hornets for the 2023-24 season
Adding data for team rank 24 Chicago Bulls for the 2023-24 season
Adding data for team rank 26 Portland Trail Blazers for the 2023-24 season
Adding data for team rank 27 Memphis Grizzlies for the 2023-24 season
Adding data for team rank 28 San Antonio Spurs for the 2023-24 season
Adding data for team rank 28 Washington Wizards for the 2023-24 season
Adding data for team rank 30 Detroit Pistons for the 2023-24 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank   for the 2022-23 season
Adding data for team rank 1 Minnesota Timberwolves for the 2022-23 season
Adding data for team rank 2 Boston Celtics for the 2022-23 season
Adding data for team rank 3 Milwaukee Bucks for the 2022-23 season
Adding data for team rank 3 Orlando Magic for the 2022-23 season
Adding data for team rank 5 Oklahoma City Thunder for the 2022-23 season
Adding data for team rank 6 Denver Nuggets for the 2022-23 season
Adding data for team rank 7 New York Knicks for the 2022-23 season
Adding data for team rank 7 Philadelphia 76ers for the 2022-23 season
Adding data for team rank 9 Sacramento Kings for the 2022-23 season
Adding data for team rank 10 Phoenix Suns for the 2022-23 season
Adding data for team rank 11 Dallas Mavericks for the 2022-23 season
Adding data for team rank 11 Indiana Pacers for the 2022-23 season
Adding data for team rank 13 Los Angeles Lakers for the 2022-23 season
Adding data for team rank 14 Cleveland Cavaliers for the 2022-23 season
Adding data for team rank 14 Miami Heat for the 2022-23 season
Adding data for team rank 16 Brooklyn Nets for the 2022-23 season
Adding data for team rank 17 New Orleans Pelicans for the 2022-23 season
Adding data for team rank 18 Atlanta Hawks for the 2022-23 season
Adding data for team rank 18 LA Clippers for the 2022-23 season
Adding data for team rank 20 Houston Rockets for the 2022-23 season
Adding data for team rank 21 Golden State Warriors for the 2022-23 season
Adding data for team rank 21 Toronto Raptors for the 2022-23 season
Adding data for team rank 23 Utah Jazz for the 2022-23 season
Adding data for team rank 24 Charlotte Hornets for the 2022-23 season
Adding data for team rank 24 Chicago Bulls for the 2022-23 season
Adding data for team rank 26 Portland Trail Blazers for the 2022-23 season
Adding data for team rank 27 Memphis Grizzlies for the 2022-23 season
Adding data for team rank 28 San Antonio Spurs for the 2022-23 season
Adding data for team rank 28 Washington Wizards for the 2022-23 season
Adding data for team rank 30 Detroit Pistons for the 2022-23 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank   for the 2021-22 season
Adding data for team rank 1 Minnesota Timberwolves for the 2021-22 season
Adding data for team rank 2 Boston Celtics for the 2021-22 season
Adding data for team rank 3 Milwaukee Bucks for the 2021-22 season
Adding data for team rank 3 Orlando Magic for the 2021-22 season
Adding data for team rank 5 Oklahoma City Thunder for the 2021-22 season
Adding data for team rank 6 Denver Nuggets for the 2021-22 season
Adding data for team rank 7 New York Knicks for the 2021-22 season
Adding data for team rank 7 Philadelphia 76ers for the 2021-22 season
Adding data for team rank 9 Sacramento Kings for the 2021-22 season
Adding data for team rank 10 Phoenix Suns for the 2021-22 season
Adding data for team rank 11 Dallas Mavericks for the 2021-22 season
Adding data for team rank 11 Indiana Pacers for the 2021-22 season
Adding data for team rank 13 Los Angeles Lakers for the 2021-22 season
Adding data for team rank 14 Cleveland Cavaliers for the 2021-22 season
Adding data for team rank 14 Miami Heat for the 2021-22 season
Adding data for team rank 16 Brooklyn Nets for the 2021-22 season
Adding data for team rank 17 New Orleans Pelicans for the 2021-22 season
Adding data for team rank 18 Atlanta Hawks for the 2021-22 season
Adding data for team rank 18 LA Clippers for the 2021-22 season
Adding data for team rank 20 Houston Rockets for the 2021-22 season
Adding data for team rank 21 Golden State Warriors for the 2021-22 season
Adding data for team rank 21 Toronto Raptors for the 2021-22 season
Adding data for team rank 23 Utah Jazz for the 2021-22 season
Adding data for team rank 24 Charlotte Hornets for the 2021-22 season
Adding data for team rank 24 Chicago Bulls for the 2021-22 season
Adding data for team rank 26 Portland Trail Blazers for the 2021-22 season
Adding data for team rank 27 Memphis Grizzlies for the 2021-22 season
Adding data for team rank 28 San Antonio Spurs for the 2021-22 season
Adding data for team rank 28 Washington Wizards for the 2021-22 season
Adding data for team rank 30 Detroit Pistons for the 2021-22 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank   for the 2020-21 season
Adding data for team rank 1 Minnesota Timberwolves for the 2020-21 season
Adding data for team rank 2 Boston Celtics for the 2020-21 season
Adding data for team rank 3 Milwaukee Bucks for the 2020-21 season
Adding data for team rank 3 Orlando Magic for the 2020-21 season
Adding data for team rank 5 Oklahoma City Thunder for the 2020-21 season
Adding data for team rank 6 Denver Nuggets for the 2020-21 season
Adding data for team rank 7 New York Knicks for the 2020-21 season
Adding data for team rank 7 Philadelphia 76ers for the 2020-21 season
Adding data for team rank 9 Sacramento Kings for the 2020-21 season
Adding data for team rank 10 Phoenix Suns for the 2020-21 season
Adding data for team rank 11 Dallas Mavericks for the 2020-21 season
Adding data for team rank 11 Indiana Pacers for the 2020-21 season
Adding data for team rank 13 Los Angeles Lakers for the 2020-21 season
Adding data for team rank 14 Cleveland Cavaliers for the 2020-21 season
Adding data for team rank 14 Miami Heat for the 2020-21 season
Adding data for team rank 16 Brooklyn Nets for the 2020-21 season
Adding data for team rank 17 New Orleans Pelicans for the 2020-21 season
Adding data for team rank 18 Atlanta Hawks for the 2020-21 season
Adding data for team rank 18 LA Clippers for the 2020-21 season
Adding data for team rank 20 Houston Rockets for the 2020-21 season
Adding data for team rank 21 Golden State Warriors for the 2020-21 season
Adding data for team rank 21 Toronto Raptors for the 2020-21 season
Adding data for team rank 23 Utah Jazz for the 2020-21 season
Adding data for team rank 24 Charlotte Hornets for the 2020-21 season
Adding data for team rank 24 Chicago Bulls for the 2020-21 season
Adding data for team rank 26 Portland Trail Blazers for the 2020-21 season
Adding data for team rank 27 Memphis Grizzlies for the 2020-21 season
Adding data for team rank 28 San Antonio Spurs for the 2020-21 season
Adding data for team rank 28 Washington Wizards for the 2020-21 season
Adding data for team rank 30 Detroit Pistons for the 2020-21 season

In [131]:
# Filter out table
table_data = table_data[12:]

In [132]:
# Remove empty column
headers.pop(0)

''

In [133]:
import pandas as pd

# Getting the headers from the data array
# It is important to remove them from the data array afterwards in order to be parsed correctly by Pandas
team_stats = pd.DataFrame(table_data, columns=headers)
team_stats.head()

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Minnesota Timberwolves,19,15,4,.789,48.3,112.8,41.0,84.8,...,45.0,25.4,15.1,7.5,6.3,4.9,19.3,20.9,6.9,2023-24
1,2,Boston Celtics,20,15,5,.750,48.5,116.5,42.0,88.7,...,47.5,25.0,14.2,6.5,5.9,3.9,17.8,18.5,8.4,2023-24
2,3,Milwaukee Bucks,20,14,6,.700,48.3,121.1,43.8,88.5,...,43.8,25.1,13.9,7.3,5.5,4.1,19.8,20.3,3.0,2023-24
3,3,Orlando Magic,20,14,6,.700,48.0,114.3,41.1,86.6,...,43.9,25.7,15.7,8.8,5.6,5.3,21.9,23.5,4.3,2023-24
4,5,Oklahoma City Thunder,19,13,6,.684,48.3,119.7,43.4,88.2,...,41.8,25.6,13.4,8.0,5.8,5.4,20.2,19.9,8.4,2023-24

# Cleaning

In [134]:
# Check data types
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           156 non-null    object
 1   TEAM    156 non-null    object
 2   GP      156 non-null    object
 3   W       156 non-null    object
 4   L       156 non-null    object
 5   WIN%    156 non-null    object
 6   MIN     156 non-null    object
 7   PTS     156 non-null    object
 8   FGM     120 non-null    object
 9   FGA     120 non-null    object
 10  FG%     120 non-null    object
 11  3PM     120 non-null    object
 12  3PA     120 non-null    object
 13  3P%     120 non-null    object
 14  FTM     120 non-null    object
 15  FTA     120 non-null    object
 16  FT%     120 non-null    object
 17  OREB    120 non-null    object
 18  DREB    120 non-null    object
 19  REB     120 non-null    object
 20  AST     120 non-null    object
 21  TOV     120 non-null    object
 22  STL     120 non-null    object
 23  BLK     120 non-null    object
 24  BLKA    120 non-null    object
 25  PF      120 non-null    object
 26  PFD     120 non-null    object
 27  +/-     120 non-null    object
 28  YEAR    120 non-null    object
dtypes: object(29)
memory usage: 35.5+ KB

In [135]:
team_stats.columns

Index(['', 'TEAM', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-', 'YEAR'],
      dtype='object')

In [136]:
# Rename empty column name to 'Rank'
team_stats = team_stats.rename(columns={"": "RANK"})
team_stats.head()

,RANK,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Minnesota Timberwolves,19,15,4,.789,48.3,112.8,41.0,84.8,...,45.0,25.4,15.1,7.5,6.3,4.9,19.3,20.9,6.9,2023-24
1,2,Boston Celtics,20,15,5,.750,48.5,116.5,42.0,88.7,...,47.5,25.0,14.2,6.5,5.9,3.9,17.8,18.5,8.4,2023-24
2,3,Milwaukee Bucks,20,14,6,.700,48.3,121.1,43.8,88.5,...,43.8,25.1,13.9,7.3,5.5,4.1,19.8,20.3,3.0,2023-24
3,3,Orlando Magic,20,14,6,.700,48.0,114.3,41.1,86.6,...,43.9,25.7,15.7,8.8,5.6,5.3,21.9,23.5,4.3,2023-24
4,5,Oklahoma City Thunder,19,13,6,.684,48.3,119.7,43.4,88.2,...,41.8,25.6,13.4,8.0,5.8,5.4,20.2,19.9,8.4,2023-24

In [137]:
# Convert following columns to floats
string_columns = ['RANK', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-']
team_stats[string_columns] = team_stats[string_columns].apply(pd.to_numeric, errors='coerce')

team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    120 non-null    float64
 1   TEAM    156 non-null    object
 2   GP      120 non-null    float64
 3   W       120 non-null    float64
 4   L       120 non-null    float64
 5   WIN%    120 non-null    float64
 6   MIN     120 non-null    float64
 7   PTS     120 non-null    float64
 8   FGM     120 non-null    float64
 9   FGA     120 non-null    float64
 10  FG%     120 non-null    float64
 11  3PM     120 non-null    float64
 12  3PA     120 non-null    float64
 13  3P%     120 non-null    float64
 14  FTM     120 non-null    float64
 15  FTA     120 non-null    float64
 16  FT%     120 non-null    float64
 17  OREB    120 non-null    float64
 18  DREB    120 non-null    float64
 19  REB     120 non-null    float64
 20  AST     120 non-null    float64
 21  TOV     120 non-null    float64
 22  STL     120 non-null    float64
 23  BLK     120 non-null    float64
 24  BLKA    120 non-null    float64
 25  PF      120 non-null    float64
 26  PFD     120 non-null    float64
 27  +/-     120 non-null    float64
 28  YEAR    120 non-null    object
dtypes: float64(27), object(2)
memory usage: 35.5+ KB

In [138]:
team_stats['TEAM'].dropna()

0      Minnesota Timberwolves
1              Boston Celtics
2             Milwaukee Bucks
3               Orlando Magic
4       Oklahoma City Thunder
                ...
151    Portland Trail Blazers
152         Memphis Grizzlies
153         San Antonio Spurs
154        Washington Wizards
155           Detroit Pistons
Name: TEAM, Length: 156, dtype: object

In [139]:
# Add short form team name
team_short_forms = {
    'Boston Celtics': 'BOS', 
    'Minnesota Timberwolves': 'MIN', 
    'Orlando Magic': 'ORL', 
    'Denver Nuggets': 'DEN', 
    'Milwaukee Bucks': 'MIL', 
    'Oklahoma City Thunder': 'OKC', 
    'New York Knicks': 'NYK',
    'Philadelphia 76ers': 'PHI',
    'Dallas Mavericks': 'DAL',
    'Sacramento Kings': 'SAC',
    'Miami Heat': 'MIA',
    'Phoenix Suns': 'PHX',
    'Los Angeles Lakers': 'LAL',
    'New Orleans Pelicans': 'NOP', 
    'Indiana Pacers': 'IND',
    'Cleveland Cavaliers': 'CLE',
    'Atlanta Hawks': 'ATL',
    'Brooklyn Nets': 'BKN', 
    'Houston Rockets': 'HOU', 
    'LA Clippers': 'LAC', 
    'Golden State Warriors': 'GSW', 
    'Toronto Raptors': 'TOR',
    'Charlotte Hornets': 'CHA',
    'Portland Trail Blazers': 'POR' ,
    'Utah Jazz': 'UTA', 
    'Chicago Bulls': 'CHI',
    'Memphis Grizzlies': 'MEM',
    'San Antonio Spurs': 'SAS',
    'Washington Wizards': 'WAW',
    'Detroit Pistons': 'DET',
    
}
team_stats['TEAM'] = team_stats['TEAM'].map(team_short_forms)

In [140]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    120 non-null    float64
 1   TEAM    120 non-null    object
 2   GP      120 non-null    float64
 3   W       120 non-null    float64
 4   L       120 non-null    float64
 5   WIN%    120 non-null    float64
 6   MIN     120 non-null    float64
 7   PTS     120 non-null    float64
 8   FGM     120 non-null    float64
 9   FGA     120 non-null    float64
 10  FG%     120 non-null    float64
 11  3PM     120 non-null    float64
 12  3PA     120 non-null    float64
 13  3P%     120 non-null    float64
 14  FTM     120 non-null    float64
 15  FTA     120 non-null    float64
 16  FT%     120 non-null    float64
 17  OREB    120 non-null    float64
 18  DREB    120 non-null    float64
 19  REB     120 non-null    float64
 20  AST     120 non-null    float64
 21  TOV     120 non-null    float64
 22  STL     120 non-null    float64
 23  BLK     120 non-null    float64
 24  BLKA    120 non-null    float64
 25  PF      120 non-null    float64
 26  PFD     120 non-null    float64
 27  +/-     120 non-null    float64
 28  YEAR    120 non-null    object
dtypes: float64(27), object(2)
memory usage: 35.5+ KB

In [142]:
file_path = 'team_stats.csv'
team_stats.to_csv(file_path, index=False)