In [1]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException


# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")


# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
driver.get(url)

# Player Ratings

In [8]:
# Assuming driver is your WebDriver instance
wait = WebDriverWait(driver, 10)

# Find the element
hide_partial_row_button = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="per_game_stats_toggle_partial_table"]')))

# Scroll into view if needed
driver.execute_script("arguments[0].scrollIntoView();", hide_partial_row_button)

# Click the element
hide_partial_row_button.click()

print('Partial rows hidden.')

ElementClickInterceptedException: Message: element click intercepted: Element <button class="tooltip" tip="" type="button" id="per_game_stats_toggle_partial_table" style="background-color: rgb(255, 246, 85);">...</button> is not clickable at point (73, 7). Other element would receive the click: <a href="/leagues/NBA_2024.html">...</a>
  (Session info: MicrosoftEdge=122.0.2365.66)

In [9]:
# Get table with data
table = driver.find_element(By.XPATH,'//*[@id="per_game_stats"]')

# Extract table header
headers = table.find_element(By.XPATH, '//*[@id="per_game_stats"]/thead').text.split(' ')

# Extract data from table
tbody = table.find_element(By.XPATH, '//*[@id="per_game_stats"]/tbody')

In [10]:
# Get table data
player_rows = [row.text.split(' ') for row in tbody.find_elements(By.CLASS_NAME, 'full_table')]
player_rows[:2]

[['1',
  'Precious',
  'Achiuwa',
  'PF-C',
  '24',
  'TOT',
  '53',
  '14',
  '22.5',
  '3.3',
  '6.8',
  '.490',
  '0.4',
  '1.5',
  '.250',
  '2.9',
  '5.3',
  '.559',
  '.518',
  '1.0',
  '1.6',
  '.627',
  '2.7',
  '3.9',
  '6.6',
  '1.4',
  '0.6',
  '0.8',
  '1.1',
  '1.9',
  '8.0'],
 ['2',
  'Bam',
  'Adebayo',
  'C',
  '26',
  'MIA',
  '49',
  '49',
  '34.6',
  '7.7',
  '15.1',
  '.514',
  '0.0',
  '0.2',
  '.083',
  '7.7',
  '14.8',
  '.521',
  '.514',
  '4.9',
  '6.2',
  '.778',
  '2.2',
  '8.3',
  '10.5',
  '4.1',
  '1.1',
  '1.0',
  '2.5',
  '2.5',
  '20.3']]

In [11]:
player_data = []
for row in player_rows:   
    # Find rows where the player name has three parts 'Greg Brown III'
    if len(row) > 31:
        row.pop(1)
        row.pop(1)
        row.pop(1)
    # Find rows where the player name has two parts 'Kobe Brown'
    else:
        row.pop(1)
        row.pop(1)
    player_data.append(row)
    
player_data[:2]

[['1',
  'PF-C',
  '24',
  'TOT',
  '53',
  '14',
  '22.5',
  '3.3',
  '6.8',
  '.490',
  '0.4',
  '1.5',
  '.250',
  '2.9',
  '5.3',
  '.559',
  '.518',
  '1.0',
  '1.6',
  '.627',
  '2.7',
  '3.9',
  '6.6',
  '1.4',
  '0.6',
  '0.8',
  '1.1',
  '1.9',
  '8.0'],
 ['2',
  'C',
  '26',
  'MIA',
  '49',
  '49',
  '34.6',
  '7.7',
  '15.1',
  '.514',
  '0.0',
  '0.2',
  '.083',
  '7.7',
  '14.8',
  '.521',
  '.514',
  '4.9',
  '6.2',
  '.778',
  '2.2',
  '8.3',
  '10.5',
  '4.1',
  '1.1',
  '1.0',
  '2.5',
  '2.5',
  '20.3']]

In [12]:
player_names = []

# Extract player names from table
names = tbody.find_elements(By.CLASS_NAME, 'left')

# Extract names and add to array
for name in names:
    if len(name.text) > 3:
        player_names.append(name.text)

# Close the browser
driver.close()
player_names[:4]

['Precious Achiuwa', 'Bam Adebayo', 'Ochai Agbaji', 'Santi Aldama']

In [13]:
# Add respective team names to corresponding table data rows
for i in range(len(player_data)):
    player_data[i].insert(1, player_names[i])
player_data[:2]

[['1',
  'Precious Achiuwa',
  'PF-C',
  '24',
  'TOT',
  '53',
  '14',
  '22.5',
  '3.3',
  '6.8',
  '.490',
  '0.4',
  '1.5',
  '.250',
  '2.9',
  '5.3',
  '.559',
  '.518',
  '1.0',
  '1.6',
  '.627',
  '2.7',
  '3.9',
  '6.6',
  '1.4',
  '0.6',
  '0.8',
  '1.1',
  '1.9',
  '8.0'],
 ['2',
  'Bam Adebayo',
  'C',
  '26',
  'MIA',
  '49',
  '49',
  '34.6',
  '7.7',
  '15.1',
  '.514',
  '0.0',
  '0.2',
  '.083',
  '7.7',
  '14.8',
  '.521',
  '.514',
  '4.9',
  '6.2',
  '.778',
  '2.2',
  '8.3',
  '10.5',
  '4.1',
  '1.1',
  '1.0',
  '2.5',
  '2.5',
  '20.3']]

In [14]:
# Create a pandas Data Frame
player_df = pd.DataFrame(data=player_data, columns=headers)
player_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,53,14,22.5,3.3,6.8,...,.627,2.7,3.9,6.6,1.4,0.6,0.8,1.1,1.9,8.0
1,2,Bam Adebayo,C,26,MIA,49,49,34.6,7.7,15.1,...,.778,2.2,8.3,10.5,4.1,1.1,1.0,2.5,2.5,20.3
2,3,Ochai Agbaji,SG,23,TOT,59,10,18.9,2.1,4.8,...,.778,0.7,1.7,2.3,0.9,0.5,0.5,0.7,1.3,5.4
3,4,Santi Aldama,PF,23,MEM,48,22,25.0,3.9,9.1,...,.597,1.2,4.4,5.6,2.1,0.7,0.7,1.2,1.5,10.2
4,5,Nickeil Alexander-Walker,SG,25,MIN,60,16,23.1,2.6,6.1,...,.767,0.4,1.6,2.0,2.6,0.8,0.6,1.0,1.8,7.1

In [15]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      548 non-null    object
 1   Player  548 non-null    object
 2   Pos     548 non-null    object
 3   Age     548 non-null    object
 4   Tm      548 non-null    object
 5   G       548 non-null    object
 6   GS      548 non-null    object
 7   MP      548 non-null    object
 8   FG      548 non-null    object
 9   FGA     548 non-null    object
 10  FG%     548 non-null    object
 11  3P      548 non-null    object
 12  3PA     548 non-null    object
 13  3P%     548 non-null    object
 14  2P      548 non-null    object
 15  2PA     548 non-null    object
 16  2P%     548 non-null    object
 17  eFG%    548 non-null    object
 18  FT      548 non-null    object
 19  FTA     548 non-null    object
 20  FT%     548 non-null    object
 21  ORB     548 non-null    object
 22  DRB     548 non-null    object
 23  TRB     548 non-null    object
 24  AST     548 non-null    object
 25  STL     541 non-null    object
 26  BLK     540 non-null    object
 27  TOV     540 non-null    object
 28  PF      524 non-null    object
 29  PTS     475 non-null    object
dtypes: object(30)
memory usage: 128.6+ KB

In [16]:
player_df.loc[player_df['Player'] == 'Ivica Zubac']

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
547,548,Ivica Zubac,C,26,LAC,46,46,26.7,5.1,7.8,...,3.0,6.4,9.5,1.3,0.2,1.3,1.2,2.8,12.0,None

In [17]:
# Convert columns with data type object to float
player_df = player_df.apply(pd.to_numeric, errors='ignore', downcast='float')
player_df.dtypes

Rk        float32
Player     object
Pos        object
Age        object
Tm         object
G          object
GS        float32
MP        float32
FG        float32
FGA       float32
FG%       float32
3P        float32
3PA       float32
3P%       float32
2P        float32
2PA       float32
2P%       float32
eFG%      float32
FT        float32
FTA       float32
FT%       float32
ORB       float32
DRB       float32
TRB       float32
AST       float32
STL       float32
BLK       float32
TOV       float32
PF        float32
PTS       float32
dtype: object

In [18]:
# player_df = player_df.dropna()

player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      548 non-null    float32
 1   Player  548 non-null    object
 2   Pos     548 non-null    object
 3   Age     548 non-null    object
 4   Tm      548 non-null    object
 5   G       548 non-null    object
 6   GS      548 non-null    float32
 7   MP      548 non-null    float32
 8   FG      548 non-null    float32
 9   FGA     548 non-null    float32
 10  FG%     548 non-null    float32
 11  3P      548 non-null    float32
 12  3PA     548 non-null    float32
 13  3P%     548 non-null    float32
 14  2P      548 non-null    float32
 15  2PA     548 non-null    float32
 16  2P%     548 non-null    float32
 17  eFG%    548 non-null    float32
 18  FT      548 non-null    float32
 19  FTA     548 non-null    float32
 20  FT%     548 non-null    float32
 21  ORB     548 non-null    float32
 22  DRB     548 non-null    float32
 23  TRB     548 non-null    float32
 24  AST     548 non-null    float32
 25  STL     541 non-null    float32
 26  BLK     540 non-null    float32
 27  TOV     540 non-null    float32
 28  PF      524 non-null    float32
 29  PTS     475 non-null    float32
dtypes: float32(25), object(5)
memory usage: 75.0+ KB

In [19]:
player_df.to_csv('player_ratings.csv', sep=',', encoding='utf-8', index=False)

# Team Ratings

In [20]:
from selenium import webdriver
from datetime import datetime
import pandas as pd
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException

# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")

# URL of the webpage containing the dropdown menu
url = f"https://www.basketball-reference.com/leagues/NBA_2024_ratings.html"
driver.get(url)

In [21]:
# Extract table
table = WebDriverWait(driver, 5).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="ratings"]'))
)

# Get headers used in table
thead = table.find_element(By.TAG_NAME, 'thead')
headers = [header.text.split() for header in thead.find_elements(By.TAG_NAME,'tr')][1]

# Get data from table
tbody = table.find_element(By.XPATH, '//*[@id="ratings"]/tbody')
team_rows = [row.text.split() for row in tbody.find_elements(By.TAG_NAME, 'tr')]

In [22]:
team_data = []

for row in team_rows:
    # Find rows where the team name has two parts 'Boston Celtics'
    if len(row) == 16:
        row.pop(1)
        row.pop(1)
    # Find rows where the team name has three parts 'Oklahoma City Thunder'
    elif len(row) == 17:
        row.pop(1)
        row.pop(1)
        row.pop(1)
    elif row[0] == 'Unadjusted' or row[0] == 'Rk':
        continue  # Skip headers and other irrelevant rows
    team_data.append(row)
    
team_data[:2]

[['1',
  'E',
  'A',
  '47',
  '12',
  '.797',
  '10.73',
  '123.55',
  '112.50',
  '11.05',
  '10.73',
  '123.47',
  '112.42',
  '11.05'],
 ['2',
  'W',
  'NW',
  '41',
  '18',
  '.695',
  '7.92',
  '121.46',
  '113.62',
  '7.84',
  '7.75',
  '121.65',
  '113.97',
  '7.68']]

In [23]:
team_names = []

# Extract team names from table
names = tbody.find_elements(By.CLASS_NAME, 'left')

# Extract team names and add to array
for name in names:
    if name.text == 'Team':
        continue
    else:
        team_names.append(name.text)
# Close the browser
driver.close()

team_names

['Boston Celtics',
 'Oklahoma City Thunder',
 'Minnesota Timberwolves',
 'Los Angeles Clippers',
 'New Orleans Pelicans',
 'Cleveland Cavaliers',
 'Denver Nuggets',
 'New York Knicks',
 'Milwaukee Bucks',
 'Philadelphia 76ers',
 'Golden State Warriors',
 'Phoenix Suns',
 'Orlando Magic',
 'Indiana Pacers',
 'Dallas Mavericks',
 'Sacramento Kings',
 'Miami Heat',
 'Houston Rockets',
 'Los Angeles Lakers',
 'Chicago Bulls',
 'Brooklyn Nets',
 'Atlanta Hawks',
 'Utah Jazz',
 'Toronto Raptors',
 'Memphis Grizzlies',
 'San Antonio Spurs',
 'Portland Trail Blazers',
 'Detroit Pistons',
 'Washington Wizards',
 'Charlotte Hornets']

In [24]:
# Add respective team names to corresponding table data rows
for i in range(len(team_data)):
    team_data[i].insert(1, team_names[i])

In [25]:
team_data[:3]

[['1',
  'Boston Celtics',
  'E',
  'A',
  '47',
  '12',
  '.797',
  '10.73',
  '123.55',
  '112.50',
  '11.05',
  '10.73',
  '123.47',
  '112.42',
  '11.05'],
 ['2',
  'Oklahoma City Thunder',
  'W',
  'NW',
  '41',
  '18',
  '.695',
  '7.92',
  '121.46',
  '113.62',
  '7.84',
  '7.75',
  '121.65',
  '113.97',
  '7.68'],
 ['3',
  'Minnesota Timberwolves',
  'W',
  'NW',
  '42',
  '18',
  '.700',
  '7.05',
  '116.81',
  '109.55',
  '7.26',
  '6.85',
  '116.77',
  '109.73',
  '7.03']]

In [26]:
team_ratings = pd.DataFrame(data=team_data, columns=headers)
team_ratings

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Boston Celtics,E,A,47,12,.797,10.73,123.55,112.50,11.05,10.73,123.47,112.42,11.05
1,2,Oklahoma City Thunder,W,NW,41,18,.695,7.92,121.46,113.62,7.84,7.75,121.65,113.97,7.68
2,3,Minnesota Timberwolves,W,NW,42,18,.700,7.05,116.81,109.55,7.26,6.85,116.77,109.73,7.03
3,4,Los Angeles Clippers,W,P,38,20,.655,4.90,121.07,116.16,4.91,4.74,121.21,116.46,4.75
4,5,New Orleans Pelicans,W,SW,36,25,.590,4.54,118.61,113.88,4.73,4.38,118.62,114.06,4.55
5,6,Cleveland Cavaliers,E,C,39,20,.661,5.07,117.18,111.99,5.20,4.32,116.57,112.11,4.46
6,7,Denver Nuggets,W,NW,41,19,.683,4.17,119.10,114.78,4.32,4.20,119.06,114.74,4.32
7,8,New York Knicks,E,A,35,25,.583,3.63,118.94,115.16,3.78,3.49,118.81,115.17,3.64
8,9,Milwaukee Bucks,E,C,40,21,.656,4.43,120.53,116.13,4.41,3.49,120.15,116.67,3.48
9,10,Philadelphia 76ers,E,A,34,25,.576,3.36,119.40,116.02,3.38,2.82,119.00,116.13,2.87
10,11,Golden State Warriors,W,P,32,27,.542,2.27,118.96,116.66,2.30,2.68,119.06,116.36,2.70
11,12,Phoenix Suns,W,P,35,24,.593,3.05,119.29,116.24,3.05,1.92,118.81,116.93,1.87
12,13,Orlando Magic,E,SE,34,26,.567,1.27,114.54,113.21,1.33,1.35,114.39,112.96,1.43
13,14,Indiana Pacers,E,C,34,27,.557,1.48,121.53,120.08,1.44,1.20,121.38,120.19,1.19
14,15,Dallas Mavericks,W,SW,34,26,.567,0.78,118.98,118.44,0.54,1.04,119.61,118.80,0.81
15,16,Sacramento Kings,W,P,34,25,.576,0.32,118.09,117.98,0.11,0.92,118.37,117.66,0.71
16,17,Miami Heat,E,SE,33,26,.559,0.63,114.69,114.14,0.55,0.35,114.59,114.32,0.27
17,18,Houston Rockets,W,SW,25,34,.424,-0.36,113.45,113.80,-0.35,0.24,113.66,113.42,0.24
18,19,Los Angeles Lakers,W,P,33,28,.541,-0.38,115.86,116.33,-0.47,-0.19,116.10,116.39,-0.29
19,20,Chicago Bulls,E,C,28,32,.467,-1.48,115.05,116.70,-1.65,-1.72,115.12,117.01,-1.90
20,21,Brooklyn Nets,E,A,23,36,.390,-2.39,115.08,117.62,-2.54,-1.95,115.42,117.49,-2.07
21,22,Atlanta Hawks,E,SE,26,33,.441,-2.14,119.17,121.35,-2.18,-2.26,119.25,121.53,-2.28
22,23,Utah Jazz,W,NW,27,33,.450,-2.90,117.17,120.10,-2.93,-2.87,117.31,120.22,-2.91
23,24,Toronto Raptors,E,A,22,38,.367,-3.37,115.32,118.73,-3.41,-3.33,115.08,118.44,-3.36
24,25,Memphis Grizzlies,W,SW,20,40,.333,-6.70,108.24,115.11,-6.87,-5.91,108.54,114.62,-6.08
25,26,San Antonio Spurs,W,SW,12,48,.200,-8.30,110.86,119.02,-8.16,-7.75,111.26,118.89,-7.62
26,27,Portland Trail Blazers,W,NW,16,42,.276,-8.36,110.10,118.61,-8.51,-7.98,110.14,118.28,-8.14
27,28,Detroit Pistons,E,C,9,50,.153,-8.68,112.39,120.93,-8.54,-8.41,112.43,120.69,-8.27
28,29,Washington Wizards,E,SE,9,51,.150,-10.00,111.37,121.11,-9.74,-9.56,111.24,120.53,-9.29
29,30,Charlotte Hornets,E,SE,15,45,.250,-10.48,110.51,121.29,-10.78,-10.49,110.26,121.04,-10.78

In [27]:
team_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      30 non-null     object
 1   Team    30 non-null     object
 2   Conf    30 non-null     object
 3   Div     30 non-null     object
 4   W       30 non-null     object
 5   L       30 non-null     object
 6   W/L%    30 non-null     object
 7   MOV     30 non-null     object
 8   ORtg    30 non-null     object
 9   DRtg    30 non-null     object
 10  NRtg    30 non-null     object
 11  MOV/A   30 non-null     object
 12  ORtg/A  30 non-null     object
 13  DRtg/A  30 non-null     object
 14  NRtg/A  30 non-null     object
dtypes: object(15)
memory usage: 3.6+ KB

In [28]:
# Convert selected columns from object to float
team_ratings = team_ratings.apply(pd.to_numeric, errors='ignore', downcast='float')
team_ratings.dtypes

Rk        float32
Team       object
Conf       object
Div        object
W         float32
L         float32
W/L%      float32
MOV       float32
ORtg      float32
DRtg      float32
NRtg      float32
MOV/A     float32
ORtg/A    float32
DRtg/A    float32
NRtg/A    float32
dtype: object

In [29]:
team_ratings.to_csv('team_ratings.csv', sep=',', encoding='utf-8', index=False)